* {
  box-sizing: border-box;
}

// Fluid Typography.
$min_width: 360px;
$max_width: 1800px;
$min_font: 18px;
$max_font: 20px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  overflow-x: hidden;
}

body {
  color: $darkest-blue;
  font-family: $font-family-main;
  font-weight: 400;
  margin: 0;
  padding: 0;

  line-height: 1.6;
}

a {
  cursor: pointer;
  text-decoration: none;
}

p {
  margin: 0;
}

.nav-link {
  display: block;
  padding: 1rem 0;
  position: relative;
  transition: 0.5s;
}

.inline-link {
  text-decoration: underline;
  color: $black;
  font-weight: 400;
}

.l-container {
  margin-left: auto;
  margin-right: auto;
}

// moves navigation off the screen and moves main content to the left
.is-open {
  transform: translateX($menu-width);

  @include breakpoint($bp-medium) {
    transform: translateX($menu-width-desktop);
  }
}

.u-centered {
  text-align: center;
}

//  Hide only visually, but have it available for screen readers:
//  https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
//  1. For long content, line feeds are not interpreted as spaces and small width
//     causes content to wrap 1 word per line:
//     https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe

.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; // 1
}

.u-inline {
  display: inline;
}

// Section Titles
.section-title {
  font-family: $font-family-main--alt;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $black;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;

  @include breakpoint($bp-medium) {
    font-size: 1rem;
  }

  &--alt {
    font-family: $font-family-main--alt;
    font-weight: 700;
    font-size: 1.5rem;
    color: $raspberry;
  }
}
