// Typography
$font-family--sans-serif: "calibri", sans-serif;
$cat-links: "Montserrat", sans-serif, Arial;

// Colors
$white: #fff;
$black: #000;
$gray: #4e4d48;
$darkest-blue: #0d3c55;
$dark-blue: #0f5b78;
$complementary: #f88c57;
$complementary--alt: #b12040;

// Breakpoints
$bp-max: 1500px;
$bp-big: 1000px;
$bp-large: 800px;
$bp-medium: 600px;
$bp-small: 450px;
$bp-min: 320px;
$bp-nav-big: 1344px;
