$button-border: 1.5px solid #302f2d;

.case-study {
  // Akame project name
  &__title--big {
    font-family: $montserrat;
    letter-spacing: initial;
    color: $gray;
    margin-top: 0.5rem;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;

    @include breakpoint($bp-medium) {
      margin-bottom: 3rem;
    }
  }
  &__title-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: $pacific-blue;
  }

  &__title-text {
    display: inline;
  }

  // Grid for the image and link
  &__image-container {
    display: grid;
    width: 80%;
    grid-template-rows: 1fr min-content;
    height: auto;
    box-shadow: 0 6px 10px 0 #666;
    margin: 2rem 0 3rem;
    z-index: 2;
    &:hover {
      .image-link {
        box-shadow: 0 6px 14px 0 #666;
        background-color: #808080;
      }

      // icon rotation
      .image-link__icon {
        transform: rotateZ(45deg);
      }
    }

    @include breakpoint(740px) {
      width: 400px;
      // margin-left: 1rem;
    }

    // Case study image
    &__image {
      width: 100%;
      // z-index: 1;
      border: 2px solid $gray;

      @include breakpoint(800px) {
        border: 10px solid $gray;
      }

      @include breakpoint($bp-big) {
        width: 100%;
      }
    }

    // Case study text
    &__text {
      @include breakpoint(800px) {
        margin-top: 1rem;
        clear: both;
      }
    }
  }
}

// LINK TO NETLIFY
.image-link {
  grid-row: 2;
  display: flex;
  align-items: center;
  padding-left: 0.2rem;
  border: $button-border;
  background-color: #4e4d48;
  height: 2rem;

  @include breakpoint(450px) {
    height: 3rem;
    padding-left: 0.5rem;
  }

  @include breakpoint($bp-medium) {
    padding-left: 0.5rem;
  }
  // link text
  &__text {
    font-size: 1rem;
    display: inline-block;
    color: #efefef;

    @include breakpoint($bp-medium) {
      font-size: 1.2rem;
      padding-left: 0.5rem;
    }
  }

  // link icon
  &__icon {
    color: #e9ecef;
    margin: 0.5rem;
  }
}
