.cat-links {
  display: flex;
  flex-direction: row;
  color: $gray;
  font-family: $cat-links;
  text-transform: uppercase;
  font-weight: 700;

  &__single {
    margin: 0 1.5rem;

    &--alt {
      color: $raspberry;
    }
  }
}
