.content-container {
  height: 100%;
  display: grid;
  grid-template-columns: [content] 1fr;
  margin-left: $social;
  transition: transform 0.3s ease;

  @include breakpoint($bp-medium) {
    grid-template-columns: [content] 1fr;
    grid-template-rows: [image] $main-image-height-tablet [content] 1fr;
    margin-left: $social-desktop;
  }

  @include breakpoint($bp-big) {
    grid-template-columns: [content] 1fr [image] $main-image-big;
    grid-template-rows: 1fr;
  }

  @include breakpoint($bp-max) {
    grid-template-columns: [content] 1fr [image] $main-image-max;
  }
}
