$case-study: 5rem;
$case-study-tablet: 8rem;

.content-divider {
  &--contact {
    @include content-divider($yellow);
    margin-top: 5rem;
  }
}

.content-divider__text {
  position: absolute;
  top: -0.9rem;
  font-family: $font-family-main--alt;
  font-size: 2rem;
  z-index: 2;
  justify-content: center;
  height: 1.5rem;

  @include breakpoint($bp-medium) {
    font-size: 3rem;
    height: 2.5rem;
    top: -1.5rem;
  }

  &--contact {
    color: $darkest-blue;
  }
}

.content-divider__icon {
  position: absolute;
  width: 30px;
  top: -14px;
  font-size: 1.1rem;
  z-index: 1;
  background-color: $white;

  @include breakpoint($bp-medium) {
    width: 50px;
    font-size: 1.5rem;
    top: -24px;
  }

  &--contact {
    color: $yellow;
  }
}

.line {
  margin-top: $case-study;
  color: $raspberry;

  @include breakpoint($bp-medium) {
    margin-top: $case-study-tablet;
  }
}
