$case-study: 5rem;
$case-study-tablet: 8rem;

.content-divider {
  @include content-divider($yellow);
  &--contact {
    margin-top: 5rem;
  }

  &--not-found {
    margin-top: 4rem;
    height: 6rem;
    width: 100%;
    @include breakpoint($bp-medium) {
      margin-top: 5rem;
      height: 4rem;
    }

    &:after {
      width: 80%;
      height: 3.7rem;
    }
  }
}

.content-divider__text {
  position: absolute;
  top: -0.9rem;
  font-family: $font-family-main--alt;
  font-size: 2rem;
  z-index: 2;
  justify-content: center;
  height: 1.5rem;
  color: $darkest-blue;

  &--not-found {
    font-size: 4rem;
    top: -4rem;
  }
}

@include breakpoint($bp-medium) {
  font-size: 3rem;
  height: 2.5rem;
  top: -1.5rem;
}

.content-divider__icon {
  position: absolute;
  width: 30px;
  top: -14px;
  font-size: 1.1rem;
  z-index: 1;
  background-color: $white;

  @include breakpoint($bp-medium) {
    width: 50px;
    font-size: 1.5rem;
    top: -24px;
  }

  &--contact {
    color: $yellow;
  }
}

.line {
  margin-top: $case-study;
  color: $raspberry;

  @include breakpoint($bp-medium) {
    margin-top: $case-study-tablet;
  }
}
