.intro {
  margin-top: 0;

  &__title {
    text-align: center;
    color: $yellow;
    letter-spacing: 2px;
    margin-top: 0.5rem;

    &--alt {
      color: $pacific-blue;
    }

    @include breakpoint($bp-medium) {
      font-size: 2.3rem;
      position: absolute;
      // positioning name below image banner
      top: $main-image-height-tablet;
      margin-left: 12rem;
    }

    @include breakpoint($bp-big) {
      position: initial;
      text-align: start;
      padding: auto;
      margin: auto;
      font-size: 4rem;
      letter-spacing: 4px;
    }
  }

  &__photo {
    margin: 5vw auto;
    background: url("https://avatars3.githubusercontent.com/u/48044823?s=400&u=a549806150129b4e00172a8c3be305add034e0be&v=4")
      no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
    border: 1rem solid $pacific-blue;
    border-radius: 50%;

    @include breakpoint($bp-medium) {
      margin: 0;
      transform: translateY(-50%);
    }

    @include breakpoint($bp-big) {
      // swapping images to apply a float
      display: none;
    }

    &--desktop {
      display: none;
      @include breakpoint($bp-big) {
        display: inline-block;
        // reset  transform: translateY(-50%)
        transform: translateY(0);
        margin: 1rem 1rem 0 0;
        padding: 2rem;
        shape-outside: circle(50%);
        float: left;
      }
    }
  }

  &__greeting {
    height: 2.5rem;

    &-rotator {
      font-size: 1rem;
      color: #0d3c55;
      margin: 0;
    }

    @include breakpoint($bp-medium) {
      height: auto;
      margin-top: -2rem;
    }
    @include breakpoint($bp-big) {
      margin: -0.5rem auto 0;
    }
  }

  &__text {
    margin: 0.5rem auto 1.5rem;

    @include breakpoint($bp-medium) {
      margin: 1rem auto;
    }
    @include breakpoint($bp-big) {
      margin: 3rem 0 0;
    }
  }
}
