.featured-image {
  display: none;
  // Image
  @include breakpoint($bp-medium) {
    display: block;
    grid-row: image;
    width: 100vw;
    margin: 0 0 0 $social--big;
    background-image: url("../images/creativity-tablet.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
  }

  @include breakpoint(790px) {
    background-size: cover;
  }

  @include breakpoint($bp-big) {
    grid-column: image;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background-image: url("../images/creativity-narrow.png");
  }

  @include breakpoint(1450px) {
    background-image: url("../images/creativity-small.png");
    background-position: top center;
  }
  // Title
  &__title {
    margin: 0;
    width: $container;
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: $yellow;
    white-space: nowrap;

    // Breakpoint
    @include breakpoint(790px) {
      font-size: 1.5rem;
    }

    @include breakpoint(920px) {
      font-size: 1.75rem;
    }

    @include breakpoint($bp-big) {
      position: relative;
      flex-direction: column;
      left: 10%;
      width: 70%;
    }

    @include breakpoint(1450px) {
      @include u-visually-hidden();
    }

    // Title part
    &-part {
      background-color: #374837;
      border: black 4px solid;
      padding: 0.5rem;
      &--1 {
        margin: 2rem 1rem;
        transform: rotate(6deg);
      }

      &--2 {
        margin: 1rem 0;
      }

      &--3 {
        margin: 2.6rem 0;
        transform: rotate(-6deg);
      }
    }

    @include breakpoint($bp-big) {
      &-part {
        padding: 1rem;
        &--1 {
          margin: 2rem 1rem;
          transform: rotate(6deg);
        }

        &--2 {
          margin: 1rem 2rem;
        }

        &--3 {
          margin: 3rem;
          transform: rotate(-6deg);
        }
      }
    }
  }
}
