.site__container-featured-image {
  display: none;
  @include breakpoint($bp-medium) {
    display: block;
    grid-column: image;
    z-index: -1;
    margin: 0;
    padding: 0;
  }
}

.featured-image {
  @include breakpoint($bp-large) {
    height: 100%;
    width: 40%;
    right: 0;
    position: fixed;
    background-image: url("../images/creativity-small.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
