.content {
  grid-column: content;
  display: grid;
  grid-template-rows: [intro] 1fr [projects] 2fr;
  background-color: #fff;
  height: 100%;
  max-width: auto;
  padding: 10% 20%;

  &__title {
    font-size: 3rem;
    color: #0d3c55;
  }
}
