.content {
  grid-column: content;
  display: grid;
  // grid-template-rows: [intro] 1fr [projects] 2fr;
  background-color: #fff;
  height: 100vh;
  max-width: $container;
  padding: 0 5vw;

  @include breakpoint($bp-medium) {
    max-width: auto;
    padding: 0 10%;
  }

  &__title {
    font-size: 1rem;
    padding: 2rem;
    border: 1px solid black;
    // outline-style: outset;
    // outline-color: $yellow;

    // font-size: 3rem;
    color: #0d3c55;
    margin-top: 0;
  }
}
