.menu {
  grid-row: navigation;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  &__item {
    position: relative;
  }

  &__link {
    color: #fff;
    font-size: 1.3em;
    padding: 2rem 0;
    display: block;
    z-index: 3;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
  }
}

.menu__link:hover + .wave-container {
  display: block;
}
