.menu {
  grid-row: navigation;
  list-style: none;

  &__item {
    position: relative;
    margin: 0;
    padding: 0;
  }

  &__link {
    color: #fff;
    font-size: 1.3em;
    z-index: 3;
  }
}

.menu__link:hover + .wave-container {
  display: block;
}
