.menu {
  grid-row: navigation;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu__item {
  position: relative;
}

.menu__link {
  color: #fff;
  font-size: 1.3em;
  padding: 2rem 0;
  /* margin: 1rem -2rem; */
  display: block;
  z-index: 3;
  /* border: 4px solid #f88c57; */
  /* background: yellow; */
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

.menu__link:hover + .wave-container {
  display: block;
}