.nav-toggle {
  cursor: pointer;
  background-color: $dark-blue;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    @include burger(30px, 4px, 5px, $yellow);

    .nav-toggle--active & {
      @include burger-to-cross;
    }

    @include breakpoint($bp-medium) {
      @include burger(40px, 5px, 6px, $yellow);

      // due to a different value for hight/width animation had to be included again
      .nav-toggle--active & {
        @include burger-to-cross;
      }
    }
  }
}
