.nav-toggle {
  cursor: pointer;
  background-color: $dark-blue;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    @include burger(40px, 5px, 6px, $yellow);

    .nav-toggle--active & {
      @include burger-to-cross;
    }
  }
}
