.nav-toggle {
  cursor: pointer;
  background-color: $dark-blue;
  top: -1rem;
  padding-top: 3rem;

  &__icon {
    @include burger(40px, 5px, 5px, $yellow);
    margin: 0 auto;
    padding-bottom: 1.5rem;
    .nav-toggle--active & {
      @include burger-to-cross;
    }
  }
}
