.project {
  margin-bottom: 3rem;

  .project__title-wrapper {
    display: inline-flex;
    align-items: center;
    position: relative;
  }

  &__title {
    font-size: 1.2rem;
    color: #002c23;

    @include breakpoint($bp-medium) {
      font-size: 2rem;
    }
  }

  &__button {
    margin-right: 1rem;

    @include breakpoint($bp-medium) {
      margin-right: 2rem;
    }
  }

  &__tags {
    display: flex;
    flex-direction: column;
    color: $gray;
    font-family: $montserrat;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7rem;
    padding-left: 0;

    @include breakpoint($bp-medium) {
      flex-direction: row;
    }
  }

  &__tag {
    margin: 0 1.5rem;
    color: $raspberry;
  }
}
