.sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  display: grid;
  grid-template-columns: [menu] 1fr [social] $social;
  grid-template-rows: 1fr;
  transition: transform 0.3s ease;
  z-index: 1;
  left: -$menu-width;

  @include breakpoint($bp-medium) {
    left: -$menu-width-desktop;
    grid-template-columns: [menu] 1fr [social] $social-desktop;
  }
}

.sidebar__nav {
  grid-column: menu;
  // grid-template-rows: [description] 1fr [navigation] 1fr [footer] 1fr;
  // display: grid;
  z-index: 1;
  position: relative;
  background-image: radial-gradient($darkest-blue 0%, $dark-blue 100%);
  // height: 100%;

  &-title,
  &-description,
  &-footer {
    color: $light-blue;
    margin: 1rem 1.5rem;
  }

  &-title {
    font-size: 2rem;
    color: $yellow;
    font-family: $font-family-main--alt;
    letter-spacing: 3px;

    &--alt {
      color: #00d4aa;
    }
  }
}

.sidebar__social {
  grid-column: social;
  height: 100%;
  background-image: radial-gradient($dark-blue 0%, $darkest-blue 100%);
  display: grid;
  //making 7 squares by setting hight same as width
  grid-template-rows: repeat(7, $social);
  align-items: center;
  align-self: start;
  @include breakpoint($bp-medium) {
    grid-template-rows: repeat(7, $social-desktop);
  }
}
