.sidebar {
  position: fixed;
  display: grid;
  grid-template-columns: [menu] 320px [social] 100px;
  grid-template-rows: 1fr;
  width: 420px;
  transition: left 0.3s ease;
  z-index: 1;
  height: 100% !important;
  transition: left 0.5s ease;
}

/* open */
.sidebar__nav {
  grid-column: menu;
  grid-template-rows: [description] 1fr [navigation] 1fr [footer] 1fr;
  display: grid;
  z-index: 1;
  position: absolute;
  background-image: radial-gradient($darkest-blue 0%, $dark-blue 100%);
  height: 100% !important;

  &-title,
  &-description,
  &-footer {
    color: $light-blue;
    margin: 1rem 1.5rem;
  }

  &-title {
    font-size: 3rem;
    color: $white;
  }
}

/* open */
.sidebar__social {
  grid-column: social;
  height: 100% !important;
  background-color: $darkest-blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr) 2fr;
  align-items: center;
}
