.site-container {
  height: 100%;
  display: grid;
  grid-template-columns: [sidebar] $sidebar [content] 1fr;
  grid-template-rows: 1fr;

  @include breakpoint($bp-medium) {
    grid-template-rows: [image] 400px [content] 1fr;
  }

  @include breakpoint($bp-big) {
    grid-template-columns: [sidebar] $sidebar [content] 1fr [image] 40%;
    grid-template-rows: [content] 1fr;
  }
}
