.wave-container {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  height: 50px;
  width: 100%;
  opacity: 0.8;
  z-index: -3;
  transition: 0.6s;
  overflow: hidden;
}

.wave {
  position: absolute;
  top: 540%;
  left: 50%;
  z-index: -2;
  width: 460px;
  height: 460px;
  transform: translate(-50%, -50%) rotate(0);
  border-radius: 42.5%;
  background: #a81f3d;
  opacity: 0.5;
  animation: waves 5s infinite linear;

  &--second {
    background: #f88c57;
    opacity: 0.6;
    animation: waves 6s infinite linear;
  }

  &--third {
    background: #2ad4ff;
    opacity: 0.5;
    animation: waves 8s infinite linear;
  }
}

@keyframes waves {
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
